In [57]:
import pandas as pd

In [58]:
import glob

In [59]:
path='D:\\saumya\\AReM\\bending1'

In [60]:
files = glob.glob(path + "/*.csv")

In [61]:
data_frame = pd.DataFrame()

In [62]:
content = []

In [63]:
for filename in files:
    
    # reading content of csv file
    # content.append(filename)
    df = pd.read_csv(filename, index_col=None,skiprows=4)
    content.append(df)

In [64]:
data_frame = pd.concat(content)
print(data_frame)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.25       0.43      22.75       0.43      33.75
1                250      39.25       0.43      23.00       0.00      33.00
2                500      39.25       0.43      23.25       0.43      33.00
3                750      39.50       0.50      23.00       0.71      33.00
4               1000      39.50       0.50      24.00       0.00      33.00
..               ...        ...        ...        ...        ...        ...
475           118750      44.25       0.83      16.25       1.30      24.00
476           119000      44.00       0.71      11.00       1.00      24.00
477           119250      44.25       0.43      10.25       1.30      22.75
478           119500      43.75       0.43       7.33       2.87      21.50
479           119750      44.50       0.50       3.00       1.22      21.50

     var_rss23
0         1.30
1         0.00
2         0.00
3         0.00
4         0.00
..         ...
475       0.00
476       0.00
477       0.83
478       0.50
479       0.50

[3360 rows x 7 columns]

In [65]:
type(data_frame)

pandas.core.frame.DataFrame

In [12]:
data_frame.to_excel('D:\\saumya\\saumya.xlsx')

In [17]:
print(content)

[     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.25       0.43      22.75       0.43      33.75
1                250      39.25       0.43      23.00       0.00      33.00
2                500      39.25       0.43      23.25       0.43      33.00
3                750      39.50       0.50      23.00       0.71      33.00
4               1000      39.50       0.50      24.00       0.00      33.00
..               ...        ...        ...        ...        ...        ...
475           118750      43.33       0.47      25.00       0.00      30.00
476           119000      43.50       0.50      25.50       0.50      30.00
477           119250      43.50       0.50      24.75       0.43      30.00
478           119500      43.50       0.50      24.33       0.47      30.00
479           119750      43.50       0.50      24.25       0.43      30.00

     var_rss23
0          1.3
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
475        0.0
476        0.0
477        0.0
478        0.0
479        0.0

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      43.67       0.47      24.75       0.43      30.00
1                250      43.33       0.47      25.33       0.47      30.00
2                500      42.75       0.83      25.25       0.83      30.50
3                750      41.75       0.43      20.50       3.35      30.75
4               1000      42.50       0.50      20.75       4.55      31.75
..               ...        ...        ...        ...        ...        ...
475           118750      43.00       0.71       9.50       2.18      30.25
476           119000      43.25       0.83      12.25       0.43      32.50
477           119250      43.50       0.50      13.00       2.35      32.50
478           119500      43.75       0.43      15.75       1.92      31.50
479           119750      43.25       0.83      20.75       0.43      31.00

     var_rss23
0         0.00
1         0.00
2         0.50
3         0.83
4         0.43
..         ...
475       0.43
476       0.50
477       0.87
478       0.50
479       0.71

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.71      21.25       0.43      30.00
1                250      41.50       0.50      20.25       1.48      31.25
2                500      41.50       0.50      14.25       1.92      33.00
3                750      40.75       0.83      15.75       0.43      33.00
4               1000      40.00       0.71      20.00       2.74      32.75
..               ...        ...        ...        ...        ...        ...
475           118750      42.50       0.50      20.00       0.82      36.00
476           119000      42.67       0.47      21.00       0.00      36.33
477           119250      44.33       0.94      21.00       0.00      36.33
478           119500      45.25       0.43      26.75       1.79      36.00
479           119750      47.25       0.83      29.75       0.43      35.25

     var_rss23
0         0.00
1         1.09
2         0.00
3         0.00
4         0.43
..         ...
475       0.00
476       0.47
477       0.47
478       0.00
479       1.30

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      47.33       0.47      28.00       0.82      34.25
1                250      47.50       0.50      29.00       1.22      36.00
2                500      47.50       0.50      30.00       0.00      36.75
3                750      47.00       0.71      28.00       1.22      37.00
4               1000      45.00       0.71      24.25       1.79      36.00
..               ...        ...        ...        ...        ...        ...
475           118750      39.00       0.00      11.50       4.72      23.75
476           119000      41.50       0.50      22.25       1.92      26.25
477           119250      42.00       0.00      23.50       0.87      29.75
478           119500      42.50       0.50      21.00       0.00      30.00
479           119750      43.25       0.43      23.75       0.43      28.25

     var_rss23
0         1.30
1         0.00
2         0.83
3         1.22
4         0.00
..         ...
475       0.43
476       1.30
477       0.43
478       0.00
479       0.43

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      44.33       0.47      23.75       0.43      30.00
1                250      44.50       0.50      24.00       0.00      30.25
2                500      44.00       0.71      24.00       0.00      30.50
3                750      43.00       0.71      21.75       1.30      31.50
4               1000      42.75       0.43      25.00       2.24      35.25
..               ...        ...        ...        ...        ...        ...
475           118750      42.50       0.87      21.50       0.50      30.50
476           119000      42.50       0.50      21.00       0.00      30.00
477           119250      42.25       0.43      20.75       0.43      30.00
478           119500      40.50       1.12      23.50       0.87      29.50
479           119750      41.50       0.87      24.00       0.00      30.00

     var_rss23
0         0.00
1         0.43
2         0.50
3         1.12
4         1.30
..         ...
475       0.50
476       0.00
477       0.00
478       0.50
479       0.00

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.25       1.30      24.00       0.00      32.33
1                250      41.00       1.00      22.50       1.12      33.50
2                500      44.25       0.83      21.75       0.83      31.50
3                750      45.00       0.00      20.00       1.22      30.00
4               1000      45.25       0.43      15.25       2.86      30.50
..               ...        ...        ...        ...        ...        ...
475           118750      43.50       0.50      14.50       1.12      22.50
476           119000      44.00       0.00      18.00       0.71      22.25
477           119250      44.25       0.83      16.50       2.29      23.25
478           119500      42.50       0.87      13.50       1.50      16.25
479           119750      41.50       0.50      15.25       1.79      13.00

     var_rss23
0         0.94
1         0.87
2         1.50
3         0.00
4         0.50
..         ...
475       0.87
476       1.09
477       1.30
478       3.11
479       1.22

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      18.50       0.50      12.00
1                250      42.00       0.00      18.00       0.00      11.33
2                500      42.75       0.43      16.75       1.79      18.25
3                750      42.50       0.50      16.75       0.83      19.00
4               1000      43.00       0.82      16.25       0.83      18.00
..               ...        ...        ...        ...        ...        ...
475           118750      44.25       0.83      16.25       1.30      24.00
476           119000      44.00       0.71      11.00       1.00      24.00
477           119250      44.25       0.43      10.25       1.30      22.75
478           119500      43.75       0.43       7.33       2.87      21.50
479           119750      44.50       0.50       3.00       1.22      21.50

     var_rss23
0         0.00
1         0.94
2         0.43
3         1.22
4         0.00
..         ...
475       0.00
476       0.00
477       0.83
478       0.50
479       0.50

[480 rows x 7 columns],              # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120,              # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120,              # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120,              # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120,              # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120,              # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120,              # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120,      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.25       0.43      22.75       0.43      33.75
1                250      39.25       0.43      23.00       0.00      33.00
2                500      39.25       0.43      23.25       0.43      33.00
3                750      39.50       0.50      23.00       0.71      33.00
4               1000      39.50       0.50      24.00       0.00      33.00
..               ...        ...        ...        ...        ...        ...
475           118750      43.33       0.47      25.00       0.00      30.00
476           119000      43.50       0.50      25.50       0.50      30.00
477           119250      43.50       0.50      24.75       0.43      30.00
478           119500      43.50       0.50      24.33       0.47      30.00
479           119750      43.50       0.50      24.25       0.43      30.00

     var_rss23
0          1.3
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
475        0.0
476        0.0
477        0.0
478        0.0
479        0.0

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      43.67       0.47      24.75       0.43      30.00
1                250      43.33       0.47      25.33       0.47      30.00
2                500      42.75       0.83      25.25       0.83      30.50
3                750      41.75       0.43      20.50       3.35      30.75
4               1000      42.50       0.50      20.75       4.55      31.75
..               ...        ...        ...        ...        ...        ...
475           118750      43.00       0.71       9.50       2.18      30.25
476           119000      43.25       0.83      12.25       0.43      32.50
477           119250      43.50       0.50      13.00       2.35      32.50
478           119500      43.75       0.43      15.75       1.92      31.50
479           119750      43.25       0.83      20.75       0.43      31.00

     var_rss23
0         0.00
1         0.00
2         0.50
3         0.83
4         0.43
..         ...
475       0.43
476       0.50
477       0.87
478       0.50
479       0.71

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.71      21.25       0.43      30.00
1                250      41.50       0.50      20.25       1.48      31.25
2                500      41.50       0.50      14.25       1.92      33.00
3                750      40.75       0.83      15.75       0.43      33.00
4               1000      40.00       0.71      20.00       2.74      32.75
..               ...        ...        ...        ...        ...        ...
475           118750      42.50       0.50      20.00       0.82      36.00
476           119000      42.67       0.47      21.00       0.00      36.33
477           119250      44.33       0.94      21.00       0.00      36.33
478           119500      45.25       0.43      26.75       1.79      36.00
479           119750      47.25       0.83      29.75       0.43      35.25

     var_rss23
0         0.00
1         1.09
2         0.00
3         0.00
4         0.43
..         ...
475       0.00
476       0.47
477       0.47
478       0.00
479       1.30

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      47.33       0.47      28.00       0.82      34.25
1                250      47.50       0.50      29.00       1.22      36.00
2                500      47.50       0.50      30.00       0.00      36.75
3                750      47.00       0.71      28.00       1.22      37.00
4               1000      45.00       0.71      24.25       1.79      36.00
..               ...        ...        ...        ...        ...        ...
475           118750      39.00       0.00      11.50       4.72      23.75
476           119000      41.50       0.50      22.25       1.92      26.25
477           119250      42.00       0.00      23.50       0.87      29.75
478           119500      42.50       0.50      21.00       0.00      30.00
479           119750      43.25       0.43      23.75       0.43      28.25

     var_rss23
0         1.30
1         0.00
2         0.83
3         1.22
4         0.00
..         ...
475       0.43
476       1.30
477       0.43
478       0.00
479       0.43

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      44.33       0.47      23.75       0.43      30.00
1                250      44.50       0.50      24.00       0.00      30.25
2                500      44.00       0.71      24.00       0.00      30.50
3                750      43.00       0.71      21.75       1.30      31.50
4               1000      42.75       0.43      25.00       2.24      35.25
..               ...        ...        ...        ...        ...        ...
475           118750      42.50       0.87      21.50       0.50      30.50
476           119000      42.50       0.50      21.00       0.00      30.00
477           119250      42.25       0.43      20.75       0.43      30.00
478           119500      40.50       1.12      23.50       0.87      29.50
479           119750      41.50       0.87      24.00       0.00      30.00

     var_rss23
0         0.00
1         0.43
2         0.50
3         1.12
4         1.30
..         ...
475       0.50
476       0.00
477       0.00
478       0.50
479       0.00

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.25       1.30      24.00       0.00      32.33
1                250      41.00       1.00      22.50       1.12      33.50
2                500      44.25       0.83      21.75       0.83      31.50
3                750      45.00       0.00      20.00       1.22      30.00
4               1000      45.25       0.43      15.25       2.86      30.50
..               ...        ...        ...        ...        ...        ...
475           118750      43.50       0.50      14.50       1.12      22.50
476           119000      44.00       0.00      18.00       0.71      22.25
477           119250      44.25       0.83      16.50       2.29      23.25
478           119500      42.50       0.87      13.50       1.50      16.25
479           119750      41.50       0.50      15.25       1.79      13.00

     var_rss23
0         0.94
1         0.87
2         1.50
3         0.00
4         0.50
..         ...
475       0.87
476       1.09
477       1.30
478       3.11
479       1.22

[480 rows x 7 columns],      # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      18.50       0.50      12.00
1                250      42.00       0.00      18.00       0.00      11.33
2                500      42.75       0.43      16.75       1.79      18.25
3                750      42.50       0.50      16.75       0.83      19.00
4               1000      43.00       0.82      16.25       0.83      18.00
..               ...        ...        ...        ...        ...        ...
475           118750      44.25       0.83      16.25       1.30      24.00
476           119000      44.00       0.71      11.00       1.00      24.00
477           119250      44.25       0.43      10.25       1.30      22.75
478           119500      43.75       0.43       7.33       2.87      21.50
479           119750      44.50       0.50       3.00       1.22      21.50

     var_rss23
0         0.00
1         0.94
2         0.43
3         1.22
4         0.00
..         ...
475       0.00
476       0.00
477       0.83
478       0.50
479       0.50

[480 rows x 7 columns]]

In [18]:
content[6]

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,42.00,0.00,18.50,0.50,12.00,0.00
1,250,42.00,0.00,18.00,0.00,11.33,0.94
2,500,42.75,0.43,16.75,1.79,18.25,0.43
3,750,42.50,0.50,16.75,0.83,19.00,1.22
4,1000,43.00,0.82,16.25,0.83,18.00,0.00
...,...,...,...,...,...,...,...
475,118750,44.25,0.83,16.25,1.30,24.00,0.00
476,119000,44.00,0.71,11.00,1.00,24.00,0.00
477,119250,44.25,0.43,10.25,1.30,22.75,0.83
478,119500,43.75,0.43,7.33,2.87,21.50,0.50
479,119750,44.50,0.50,3.00,1.22,21.50,0.50

In [19]:
content[7]

             # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120

In [20]:
content[8]

             # Task: bending1
0        # Frequency (Hz): 20
1  # Clock (millisecond): 250
2   # Duration (seconds): 120

In [21]:
content[5]

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,41.25,1.30,24.00,0.00,32.33,0.94
1,250,41.00,1.00,22.50,1.12,33.50,0.87
2,500,44.25,0.83,21.75,0.83,31.50,1.50
3,750,45.00,0.00,20.00,1.22,30.00,0.00
4,1000,45.25,0.43,15.25,2.86,30.50,0.50
...,...,...,...,...,...,...,...
475,118750,43.50,0.50,14.50,1.12,22.50,0.87
476,119000,44.00,0.00,18.00,0.71,22.25,1.09
477,119250,44.25,0.83,16.50,2.29,23.25,1.30
478,119500,42.50,0.87,13.50,1.50,16.25,3.11
479,119750,41.50,0.50,15.25,1.79,13.00,1.22

In [66]:
path='D:\\saumya\\AReM\\bending2'

In [67]:
files1=glob.glob(path+"/*.csv")

In [68]:
data_frame1=pd.DataFrame()

In [69]:
content1=[]

In [70]:
for filename in files1:
    
    # reading content of csv file
    # content.append(filename)
    df1 = pd.read_csv(filename, index_col=None,skiprows=4)
    content1.append(df1)

In [71]:
data_frame1 = pd.concat(content1)
print(data_frame1)

    # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                 0      23.75       0.43      24.00       0.00      24.67
1               250      22.67       0.94      24.00       0.00      24.67
2               500      21.33       0.47      24.00       0.00      24.75
3               750      21.00       0.00      24.00       0.00      25.25
4              1000      23.00       0.71      23.75       0.43      24.75
..              ...        ...        ...        ...        ...        ...
475          118750      27.00       0.00      14.00       0.00       6.50
476          119000      27.00       0.00      15.00       0.00       4.00
477          119250      27.00       0.00      14.25       0.83       4.00
478          119500      27.00       0.00      13.33       1.25       1.50
479          119750      26.50       0.50      15.00       0.00       3.00

     var_rss23
0         0.47
1         0.94
2         0.83
3         1.09
4         0.83
..         ...
475       0.50
476       1.00
477       2.00
478       0.50
479       0.00

[2880 rows x 7 columns]

In [74]:
path='D:\\saumya\\AReM\\cycling'

In [76]:
files2=glob.glob(path+"/*.csv")
content2=[]
for filename in files2:
    
    # reading content of csv file
    # content.append(filename)
    df2 = pd.read_csv(filename, index_col=None,skiprows=4)
    content2.append(df2)
data_frame2 = pd.concat(content2)
print(data_frame2)

ParserError: Error tokenizing data. C error: Expected 7 fields in line 485, saw 8

In [75]:
content_final=[data_frame,data_frame1]

In [73]:
pd.concat(content_final)

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.25,0.43,22.75,0.43,33.75,1.3
1,250,39.25,0.43,23.00,0.00,33.00,0.0
2,500,39.25,0.43,23.25,0.43,33.00,0.0
3,750,39.50,0.50,23.00,0.71,33.00,0.0
4,1000,39.50,0.50,24.00,0.00,33.00,0.0
...,...,...,...,...,...,...,...
475,118750,27.00,0.00,14.00,0.00,6.50,0.5
476,119000,27.00,0.00,15.00,0.00,4.00,1.0
477,119250,27.00,0.00,14.25,0.83,4.00,2.0
478,119500,27.00,0.00,13.33,1.25,1.50,0.5
479,119750,26.50,0.50,15.00,0.00,3.00,0.0